version: '3.8'

services:
  db-silver-happy:
    image: mariadb:10.11
    container_name: db-silver-happy
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASS}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASS}
    volumes:
      - ./mariadb:/var/lib/mysql

  web-silver-happy:
    build: ./web
    container_name: web-silver-happy
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./web:/var/www/html
    environment:
      - DB_HOST=db-silver-happy
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}

  api-silver-happy:
    build: ./api
    container_name: api-silver-happy
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - ./api:/api
    environment:
      - DB_HOST=db-silver-happy
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}

  pma-silver-happy:
    image: phpmyadmin:latest
    container_name: pma-silver-happy
    restart: unless-stopped
    ports:
      - "8081:80"
    environment:
      - PMA_HOST=db-silver-happy
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASS}