@layer components {
  .form-input {
    @apply w-full rounded-md bg-[#D4D4D4]/40 px-3 py-1.5 
            focus:outline-none focus:outline-2 focus:-outline-offset-2 focus:outline-[#E1AB2B]/60;
  }
  .header-button {
    @apply border border-[#1C5B8F] text-[#1C5B8F] px-4 py-1 rounded-full 
    text-xl font-semibold hover:bg-[#1C5B8F] hover:text-white;
  }
  .footer-text {
    @apply font-bold text-xl text-white hover:text-[#E1AB2B];
  }
  .menu-text {
    @apply text-[#1C5B8F] font-medium text-2xl lg:text-3xl hover:text-[#E1AB2B] transition-colors;
  }
  .small-text {
    @apply text-xl font-semibold text-[#1C5B8F];
  }
  .big-text {
    @apply text-4xl font-semibold text-[#1C5B8F];
  }
  .button-blue {
    @apply bg-[#1C5B8F] text-white py-2 font-semibold text-xl 
    hover:bg-[#E1AB2B]/60 transition shadow-md;
  }
  .index-components {
    @apply flex-1 min-w-[400px] max-w-full border border-gray-100 rounded-[2.5rem] p-8 md:p-10 shadow-xl shadow-blue-900/10;
  }
}
